<div class="screen bg-neutral-200 p-4 rounded flex flex-col justify-end items-end" [style]="{border: '2px solid ' + resultColour()}">
    <p class="last-equation-display font-mono text-lg sm:text-base text-slate-500" [attr.data-cy]="'lastEquation'">{{lastEquation ? lastEquation : "Ans = 0"}}</p>
    <p class="equation-display font-mono text-xl sm:text-lg text-slate-900" [attr.data-cy]="'equation'">{{equation ? equation : "0"}}</p>
    <!-- <p class="result-display">Result: {{result}}</p> -->
</div>
<p class="error-display p-1 h-10 sm:h-5 text-base sm:text-sm text-red-700" [attr.data-cy]="'error'">{{error}}</p>
